== render 'layouts/backstage/navbar'
== render 'user/backstage/_wparts/cover_head'
h3 Change my photo
hr
p Choose other picture and change your main photo. You can also delete the actual photo.
== render 'user/backstage/_forms/form_photo'